@charset "UTF-8";

body{
  font-family: sans-serif;
  background: radial-gradient(circle at top, #0f1b2d, #050812);
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

p, h3, h2, h1, ul{
  color: #e5e5e5;
}

p{
  font-size: large;
  margin: 0;
}

h1{
  font-size: 2.5em;
  margin: 1em;
  text-transform: uppercase;
}

h2{
  width: 100%;
  font-size: 2em;
  text-transform: capitalize;
  margin-left: 1em;
  margin-bottom: -0.5em;
}

h3{
  font-size: 1.5em;
  margin: 1em;
}

.center-head, .headright{
  margin: 0.5em;  
}

main p, h1, h2, h3{
  color: #f1f5f9;
}

button{
  margin: 0.5em;
}

article ul{
    list-style-type: none;
}