@charset "UTF-8";

#tete{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
}

#tete .headleft{
    display: flex;
    align-items: center;
    margin-left: 0.5em;
}

.headleft img{
    width: 2em;
}

.center-head{
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
}

#jsp{
    display: flex;
    justify-content: flex-end;
}

.headright{
    display: flex;
    flex-flow: column;
    align-items: self-end;
}

.headright-top{
    display: inline-flex;
    align-items: center;  
}

/* ****************************************  */

main{
    display: flex;
    flex-wrap: wrap;
}

main h1{
    display: flex;
    justify-content: center;
    width: 100%;
}

.contenu{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

article{
    display: flex;
    flex-wrap: wrap;
}

/* ****************************************  */ 

footer{
    display: flex;
    justify-content: space-around;
}

footer li{
    display: inline-flex;
    margin: 1em 1.5em;
}

footer li img{
    display: inline-flex;
    max-width: 3em;
}

footer li p{
    display: inline-flex;
    align-items: center;
}