@charset "UTF-8";

#tete{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
}

#tete .headleft{
    display: flex;
    align-items: center;
    margin-left: 0.5em;
}

.headleft img{
    width: 2em;
}

.center-head{
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
}

#jsp{
    display: flex;
    justify-content: flex-end;
}

.headright{
    display: flex;
    flex-flow: column;
    align-items: self-end;
}

.headright-top{
    display: inline-flex;
    align-items: center;  
}

/* ****************************************  */

main{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: large;
}

#ecran{
    display: grid;
    grid-template-rows: 1fr 1fr;
}

#touches{
    display: grid;
    grid-template-columns: repeat(4,1fr);
}

#on-off{
    grid-column: 1/3;
    grid-row: 1;
}

#resultat-container{
    position: relative;
    bottom: 0;
    display: flex;
    justify-content: flex-end;
}

#resultat-container span{
    position: absolute;
    bottom: 0;
    right: 0;
}