@charset "UTF-8";

#tete{
    border-bottom: 1px solid #1e293b;
}

#tete a{
    color: #1981ae;
    text-decoration: none;
}

#tete a:hover{
    color: #14213d;
    transition: 0.5s;
}

.center-head{
    margin: 0;
}

.center-head a{
    font-size: 2em;
    margin: 0 0.5em;
}

.separator{
    margin: auto;
    height: 2em;
    border: 2px solid #1981ae;
    border-radius: 2em;
}

.headright{
    margin: 0.5em;
}

.headright a{
    font-size: large;
}

.lang-separator{
    margin: 0.5em;
    height: 1em;
    border: 1px solid #1981ae;
    border-radius: 2em;
}

#tete button{
    margin-top: auto;
    background-color: #1981ae;
    border: 4px solid #1981ae;
    border-radius: 0.5em;
}

#tete button:hover{
    cursor: pointer;
    color: #e5e5e5;
    background-color: #14213d;
    border-color: #14213d;
    box-shadow: 0px 0px 5px 5px rgba(20,33,61,0.4);
    transition: 1s;
}

/* ****************************************  */

#calculatrice{
    margin: 1rem;
    padding: 1em;
    border: solid 1px #1e293b;
    border-radius: 0.75rem;
    color: aliceblue;
    background: linear-gradient(180deg, #0f1e33, #060b16);
}

#ecran{
    padding: 1em;
    margin-bottom: 1em;
    width: 20rem;
    height: 10rem;
    border: solid 1px #1981ae;
    border-radius: 0.75em;
    text-align: center;
    overflow-x: auto;
    background: linear-gradient(180deg, #111f35, #0a1325);
}

#touches{
    background: linear-gradient(180deg, #141f33, #0b1424);
    padding: 1em;
    width: 20rem;
    height: 25rem;
    border: solid 1px #1981ae;
    border-radius: 1em;
    text-align: center;
}

#touches > div{
    cursor: pointer;
    padding: 0.5em;
    border: 1px solid white;
    border-radius: 0.5em;
    margin: 0.75em;
    transition: 0.5s;
    background: #14213d;
}

#touches > div:hover{
    transform: scale(1.05)
}

#on-off{
    border-right: solid 1px white;
}

.disabled{
    cursor: no-drop !important;
    color: grey;
    transform: none !important;
}

body{
    background: radial-gradient(circle at top, #0f1b2d, #050812);
}